node_modules/
dist/
build/
out/
*.asar
*.7z
*.zip
*.log
*.tmp
*.bak
*.ru-backup
ZCodeRuPatcher.exe
ZCode-Ru-Patcher-v*.exe
*.dll
*.pak
*.bin
locales/
resources/
_asar_extract/
_current_asar/
patcher_build*/
patcher_extract/
patcher_out/
patcher_pack_staging/
patcher_stage/
ZCode-RU-Patch/
